@import "reset.css";
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(50, 50, 50);
  color: rgba(250, 250, 250, 0.8);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body,
.black,
.black i {
  background-color: rgb(10, 10, 10);
}

/*topbar*/
.topbar {
  position: fixed;
  top: 0px;
  height: 40px;
  width: 98vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}
.topbar__menu {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.topbar__menu__right {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
}
.topbar__search {
  position: relative;
  left: -100px;
}
.topbar__search input {
  width: 500px;
  border-radius: 50px;
  padding-left: 10px;
  font-size: 102%;
}
.topbar__windowcontrol {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
/*main*/
main {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 99vh;
  width: 98vw;
}

/*left*/
@media screen and (max-width: 1200px) {
  .left {
    display: none;
  }
}
.left {
  width: 500px;
}
.left__channel-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left__channel-name .title i {
  margin-left: 15px;
}
.left__channel-name i {
  padding-right: 20px;
}
.left__channel-name,
.left__menu,
.left__channel-list,
.left__DM,
.left__app {
  margin-bottom: 20px;
}

.left__menu div {
  padding: 8px 0px;
  font-size: large;
  display: flex;
  justify-content: flex-start;
}
.menusize {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*center*/
.center {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.center__channel-info {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.center__channel-info__left__detail {
  display: flex;
}
.center__channel-info__left__title,
.right__thread__title {
  margin-bottom: 10px;
}
.center__channel-info__left__subject {
  padding-left: 20px;
}
.center__channel-info__left__subject input {
  width: 200px;
}
.center__channel-info__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.center__channel-info__right__part {
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  right: 50px;
}
.center__channel-info__right__part-img {
  display: flex;
}
.center__channel-info__right__part-img .squ {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.center__channel-info__right__part-img :nth-child(1) {
  background-color: tomato;
}
.center__channel-info__right__part-img :nth-child(2) {
  background-color: teal;
  position: relative;
  right: 10px;
}
.center__channel-info__right__part-img :nth-child(3) {
  background-color: wheat;
  position: relative;
  right: 20px;
}
.center__channel-info__right__interface {
  display: flex;
  justify-content: space-between;
  width: 50px;
  align-items: center;
}
.center__chat__chat {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.center__chat__chatterimg {
  width: 70px;
  height: 70px;
  background-color: rgba(95, 95, 95, 0.8);
  border-radius: 10px;
}
.center__chat__info {
  display: flex;
  padding-bottom: 5px;
}
.center__chat__chattername span {
  font-size: large;
}
.center__chat__chattime span {
  color: rgba(110, 110, 110, 0.8);

  font-size: smaller;
}
.center__chat__message span,
.center__chat__chattime span,
.center__chat__chattername span {
  padding-left: 15px;
}

.center__send {
  width: 55%;
  position: fixed;
  bottom: 20px;
}

.center__send__enter input {
  width: 100%;
  height: 40px;
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 10px;
  font-size: 105%;
}
.center__send div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  background-color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.center__send div:nth-child(2) i {
  background-color: black;
}
/*right*/
@media screen and (max-width: 700px) {
  .right {
    display: none;
  }
}
.right {
  width: 500px;
}
.right__thread {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
  padding: 0px 10px;
}

.right__send {
  width: 100%;
  padding-left: 10px;
}

.right__send__enter input {
  width: 100%;
  height: 40px;
  background-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-left: 10px;
  font-size: 105%;
}
.right__send div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 35px;
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.right__send div:nth-child(2) i {
  background-color: black;
}

.transport {
  padding-left: 10px;
  margin-top: 10px;
}
/*etc*/
.title {
  display: flex;
  height: 30px;
  align-items: center;
  font-size: large;
}
.fa-sort-down {
  margin-right: 10px;
}
.inside {
  padding: 5px 15px;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hover:hover {
  color: blueviolet;
}
